<div class="content">
  <ul style="list-style: none;">
    <li class="menu-list-li"><%= link_to "Author Register", manager_authors_path, :class => "menu-btn" %></li>
    <li class="menu-list-li"><%= link_to "Category Register", manager_categories_path, :class => "menu-btn" %></li>
    <li class="menu-list-li"><%= link_to "Tag Register", manager_tags_path, :class => "menu-btn" %></li>
    <li class="menu-list-li"><%= link_to "Publisher Register", manager_publishers_path, :class => "menu-btn" %></li>
    <li class="menu-list-li"><%= link_to "Book Register", manager_books_path, :class => "menu-btn main-menu-btn" %></li>
  </ul>
</div> 