<div class="content">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td><%= author.id %></td>
          <td><%= author.name %></td>
          <td><%= author.created_at %></td>
          <td><%= author.updated_at %></td>
          <td>
            <%= link_to "Edit", edit_manager_author_path(author), class: "btn btn-success me-md-2" %>
            <%= link_to "Delete", manager_author_path(author), :method => :delete, :class => "btn btn-danger me-md-2" %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="add-btn-area">
          <%= link_to "Add", new_manager_author_path, :class => "btn btn-primary me-md-2" %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>