<div class="content">
  <%= form_for @book, url: manager_books_path, method: :post do |f| %>
    <table class="data-input-table">
      <tbody>
        <tr>
          <th class="input-title">Name</th>
          <td class="input-cell">
            <%= f.text_field :name, :value => @book.name, :class => "form-control" %>
          </td>
        </tr>
        <tr>
          <th class="input-title">Publisher</th>
          <td class="input-cell">
            <a id="btnPublisherSearch" href='javascript:void(0);' class="search-btn">Publisher Search</a>
            <%= f.hidden_field :publisher_id, :value => @book.publisher_id, :id => 'publisherId' %>
            <span id="publisherName"></span>
          </td>
        </tr>
        <tr>
          <th class="input-title">Author</th>
          <td class="input-cell"></td>
        </tr>
        <tr>
          <th class="input-title">Price</th>
          <td class="input-cell">
            <%= f.text_field :price, :value => @book.price, :class => "form-control" %>
          </td>
        </tr>
        <tr>
          <th class="input-title">Tag</th>
          <td class="input-cell"></td>
        </tr>
        <tr>
          <th class="input-title">Category</th>
          <td class="input-cell"></td>
        </tr>
        <tr>
          <th class="input-title">Summary</th>
          <td class="input-cell">
            <%= f.text_field :summary, :class => "form-control" %>
          </td>
        </tr>
        <tr>
          <th class="input-title">Release Date</th>
          <td class="input-cell">
            <%= f.text_field :release_date, :value => @book.release_date, :class => "form-control" %>
          </td>
        </tr>
        <tr>
          <th class="input-title">Book Image</th>
          <td class="input-cell"></td>
        </tr>
        <tr>
          <th class="input-title">Book Review</th>
          <td class="input-cell"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="add-btn-area">
            <%= f.submit "Add", :class => "btn btn-primary me-md-2" %>
          </td>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>

<%= javascript_pack_tag 'manager_vue' %>