<!DOCTYPE html>
<html>
  <head>
    <title>BooksView</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'manager', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'manager', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Books View Manager", manager_path, class: "header-title" %>
    </header>
    <section class="wrapper">
      <%= yield %>
    </section>
    <footer>
    </footer>
  </body>
</html>
